body {
    background-image: url("../images/rocks.jpg");
}

#header {
    color: black;
    border: groove 5px red;
    background: white;
    margin: auto;
    width: 50%;
    height: 100px;
    font-size: 50px;
    text-align: center;
}
#header:hover {
    border-radius: 50%;
}

#instructions {
    color: black;
    background: white;
    border: inset 5px orange;
    width: auto;
    height: auto;
    text-align: center;
}

#start {
    margin: auto;
}

.info {
    color: black;
    font-size: 25px;
    text-align: center;
    background: white;
    border: inset 5px yellow;
    height: 125px;
}

.footer {
    color: black;
    font-size: 25px;
    text-align: center;
    background: turquoise;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}